!URxvt*externalBorder:  0
!URxvt*internalBorder:  24
!URxvt.cursorUnderline: true
!URxvt.internalBorder:  8
!URxvt.letterSpace:     1
!URxvt.lineSpace:       0
!URxvt.thickness:       5
!URXvt.tabbed.reopen-on-close:  no
URxvt*buffered:                false
URxvt*depth:                   32
URxvt*iso14755:                false
URxvt*letterSpace:             0
URxvt*saveline:                2000
URxvt*scrollBar:               false
URxvt*scrollBar_right:         false
URxvt*termName:                rxvt-256color
URxvt.boldFont:                xft:Hack Regular:style = Regular:size=9
URxvt.copyCommand:             xclip -i -selection clipboard
URxvt.cursorBlink:             0
URxvt.font:                    xft:Hack Regular:style = Regular:size=9
URxvt.geometry:                72x18
URxvt.keysym.Control-Shift-t:  perl:tabbedex:new_tab
URxvt.keysym.M-C-v:            perl:clipboard:paste_escaped
URxvt.keysym.M-Escape:         perl:keyboard-select:activate
URxvt.keysym.M-c:              perl:clipboard:copy
URxvt.keysym.M-s:              perl:keyboard-select:search
URxvt.keysym.M-u:              perl:url-select:select_next
URxvt.keysym.M-v:              perl:clipboard:paste
URxvt.keysym.Shifft-Right:     perl:tabbedex:next_tab
URxvt.keysym.Shift-Down:       command:\033]721;1\007
URxvt.keysym.Shift-Left:       perl:tabbedex:prev_tab
URxvt.keysym.Shift-Up:         command:\033]720;1\007
URxvt.lineSpace:               0
URxvt.matcher.button:          1
URxvt.pasteCommand:            xclip -o -selection clipboard
URxvt.perl-ext-common:         default,clipboard,keyboard-select,matcher,tabbedex,url-select
URxvt.scrollBar:               false
URxvt.scrollBar_right:         false
URxvt.tabbed.new-button:       true
URxvt.tabbed.no-tabbedex-keys: true
URxvt.titleBar:                false
URxvt.underlineURLs:           true
URxvt.urgentOnBell:            True
URxvt.url-launcher:            /usr/bin/firefox
URxvt.urlButton:               1
URxvt.urlLauncher:             firefox

! Colours
URxvt.depth: 24

*background: #1d2021
*foreground: #fbf1c7

*color0  : #282828
*color8  : #928374
*color1  : #9d0006
*color9  : #cc241d
*color2  : #79740e
*color10 : #98971a
*color3  : #b57614
*color11 : #d79921
*color4  : #076678
*color12 : #458588
*color5  : #8f3f71
*color13 : #b16286
*color6  : #427b58
*color14 : #8ec07c
*color7  : #7c6f64
*color15 : #ebdbb2

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true

!rofi.color-active : #ffffff, #c2cad0, #f5f5f5, #5294e2, #c2cad0
!rofi.color-normal : #ffffff, #525d76, #f5f5f5, #5294e2, #ffffff
!rofi.color-urgent : #ffffff, #dc322f, #f5f5f5, #5294e2, #dc322f
!rofi.color-window : #ffffff, #f5f5f5
!rofi.color-active : #ffffff, #c2cad0, #f5f5f5, #008080, #c2cad0
!rofi.color-normal : #ffffff, #525d76, #f5f5f5, #008080, #ffffff
!rofi.color-urgent : #ffffff, #dc322f, #f5f5f5, #008080, #dc322f
!rofi.color-window : #ffffff, #f5f5f5

rofi.case-sensitive:    false
rofi.columns:           1
rofi.eh:                2
rofi.fake-transparency: true
rofi.font:              "Hack Nerd Font Mono" 13
rofi.fullscreen:        false
rofi.hide-scrollbar:    true
rofi.line-margin:       5
rofi.lines:             6
rofi.matching:          regex
rofi.modi:              window,drun
rofi.padding:           10
rofi.separator-style:   dash
rofi.show-icons:        true
rofi.sidebar-mode:      true
