@import "mocha.css";

* {
  font-family: FiraCode Nerd Font Mono;
  font-size: 18px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#tray,
#clock,
#pulseaudio,
#custom-brightness,
#memory,
#network,
#disk,
#cpu {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#cpu {
  color: @red;
  margin-right: 1rem;
  border-radius: 1rem;
  min-width: 60px;
}

#memory {
  color: @green;
  margin-right: 1rem;
  border-radius: 1rem;
}

#disk {
  color: @yellow;
  margin-right: 1rem;
  border-radius: 1rem;
}

#network {
  color: @mauve;
  margin-right: 1rem;
  border-radius: 1rem;
  min-width: 250px;
}

#custom-brightness {
  color: @rosewater;
  border-radius: 1rem 0px 0px 1rem;
}

#pulseaudio {
  color: @maroon;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
